
.background{
  width: 100%;
  height: 100%;
}
.parent-div {
  width: 95%;
  margin: 0.5% 2.5%;
  background-color: rgb(203, 212, 222);
  border: 2px solid  rgb(169, 169, 230);
}
.header-div{
  background-color: rgb(169, 169, 230);
  padding: 5px;
}
.toggle{
  width: 5%;
}
.add-child{
  width: 10%;
  float: right;
}
.data-input{
  padding: 10px;
}
input:focus{
  outline: none;
}
input{
  border: 1px solid rgb(194, 193, 193);
  height: 20px;
}
.hide{
  display: none;
}
.rotate-90{
  transform: rotate(90deg);
}
.print-data{
  margin: 5% 2.5%;
}
.export{
  margin: 0.5% 2.5%;
  width: 5%;
}